{% extends 'base.html' %}

{% block css %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-8 mx-auto">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-5">Document Tampering Detection</h1>
                    <p class="lead">and Authenticity Verification</p>
                    <hr class="my-2">
                    <p>More info</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/upload" role="button">Upload Document</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}{% endblock %}
